[build]
  command = "npm install --prefix backend && npm install --prefix frontend && npm run build:css --prefix frontend" 
  publish = "frontend"

[functions]
  directory = "backend/functions"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
