@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply bg-blue-medium text-white px-4 py-2 rounded hover:bg-blue-light transition-colors duration-200;
  }
  .card {
    @apply bg-white rounded-lg shadow-lg p-4;
  }
}
